#gameZone{
    width: 75%;
    display: inline-block;
    text-align: center;

}
#myBag{
    width: 20%;
    float: right;
    text-align: center;
    background-color: rgba(59, 53, 47, 0.1);
    box-shadow: 1px 5px 5px 1px rgb(102, 78, 50);
    border-radius: 30px;
    margin: 20px 25px 0 0;
    padding-bottom: 20px;
    background-image: url("images/item/bag.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 50% 10px;
}
#myBag .box img{
    margin: 10px auto;

}
html,body,header{
    padding: 0px;
    margin: 0px;
 } 
    header{
    font-family:'Times New Roman', serif;
    text-align: center;
    height: 20px;
    }
    footer{
    font-family:'Times New Roman', serif;
    padding: 20px;
    margin:0px;
    text-align: center;
    } 
    body{
    background-color:white;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:top;
    }
#gameSceen{
    width: 80%;
    height: 600px;
    background-color:  rgba(230, 198, 162, 0.8);
    margin: 5px auto; 
    border-radius: 20px;
    box-shadow: 10px 15px 15px 10px rgb(102, 78, 50);
}
#scene{
    margin: 25px auto; 
}
#move{
    text-align: center;

}
#sceneImage{
	-webkit-transition: left 0.3s ease-out 0s;
	-moz-transition: left 0.3s ease-out 0s;
	transition: left 0.3s ease-out 0s;
}
#output{
    text-align: center;
    position: relative;
    top: 0px;
}
img{
    max-width: 100%;
    height: auto;
    }
   
.box{
    border: 1px solid rgb(175, 139, 101);
    width: 90px;
    height: 90px;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    background-color: white;

}
#gameMapBtn{
    position: absolute;
    top: 210px;
    left: 65%;
}
#cheatsheetBtn{
    position: absolute;
    top: 280px;
    left: 65%;
}

.wrapper{
    position: absolute;
    top: 460px;
    left: 40%;
    transform: translate(-50%,50%);/*remove negitive margin*/
  }
  .inputBox{
    position: relative;
  }
  #input{
  width: 200px;
  border:0;
  height: 30px;
  padding: 0px 5px;
  border-radius: 50px;
  box-shadow: 0 0 3px 1px #b6bbc0;
  outline: none;
  color: rgb(44, 29, 14);
  font-size: 16px;
  font-weight: bold;
  transition: all 0.5s linear;
  }
  .inputBtn{
    position: absolute;
    top: 0;
    right: -1px;
    background: rgb(44, 29, 14);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s linear;
  }
  .inputBtn .fas{
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%,50%);
    color: #fcf6d7;
    font-size: 14px;
    transition: all 0.5s linear;
  }

#actions{
    position: relative;
    top: 50px;
}
#save, #load, #startover{
    display: inline-block;
}
#save, #load, #startover .fas{
    font-size: 22px;
    color: rgb(44, 29, 14);
    margin: 0 5px 0 5px;
    cursor: pointer;

}
